{% extends 'base.html' %} {% block content %}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Firefighters</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">List of Firefighters</div>
                        <div class="card-category">Manage all firefighters here</div>
                    </div>

                    <br />
                    <div class="col-md-12 row">
                        <div class="col-md-6">
                            <form class="navbar-left navbar-form nav-search mr-md-3" action="{% url 'firefighters_list' %}">
                                <div class="input-group">
                                    <input type="text" placeholder="Search ... " class="form-control" name="q" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-search search-icon"></i>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <a href="{% url 'firefighters_create' %}" class="btn btn-success btn-rounded">Add Firefighter</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <table class="table table-striped mt-3">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Rank</th>
                                    <th>Experience Level</th>
                                    <th>Station</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for firefighter in object_list %}
                                <tr>
                                    <td>{{ firefighter.name }}</td>
                                    <td>{{ firefighter.rank }}</td>
                                    <td>{{ firefighter.experience_level }}</td>
                                    <td>{{ firefighter.station }}</td>
                                    <td>
                                        <a href="{% url 'firefighters_update' firefighter.id %}">Edit</a>
                                        <a href="{% url 'firefighters_delete' firefighter.id %}" class="text-danger">Delete</a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="7" style="text-align: center;">
                                        <p class="text-sm font-weight-bold mb-0">No Records Found</p>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% include 'includes/pagination.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}